/* Estilos para el contenedor principal de la aplicación */
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f3f4f6;
    min-height: 100vh;
  }
  
  /* Estilos para la sección de búsqueda y sugerencias */
  .search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .search-section h1 {
    font-size: 1.5rem;
    color: #5e626b;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .search-button {
    background-color: #5e626b;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #333639;
  }
  
  .suggestions-list {
    list-style: none;
    padding: 0;
    width: 100%;
  }
  
  .suggestion-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .suggestion-item:last-child {
    border-bottom: none;
  }
  
  .suggestion-link {
    color: #333639;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
  }

  .favorites-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente */
    width: 100%;
    max-width: 600px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .favorite-button {
    background-color: transparent;
    border: none;
    color: #5e626b;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .favorite-button:hover {
    color: #cddc39;
  }
  
  /* Estilos globales */
  body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
  }
  